body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: var(--background-color); 
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
}

*{
  margin: 0; padding: 0;
}